@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/*definir o tema dark do site*/
:root, :root[data-theme='dark']{
    /* efinir cores padrão em Variáveis */
    
    --primary-color: #f0f0f0;  /* cor textos */
    --primary-bg-color: #111217;/* BG = NackGround */
    --secundary-bg-color:#c7c8c9;
    --primary-border-color: #28292e; /* borda */
    --secundary-border-color: #56575A;

        /* definir cores padrao para TEXTOS em Variável */
    --title-color: #F0F0F0;
    --text-color:#9a9a9c;
    --link-color:#9a9a9c;
    --icon-color: #c7c8c9;

} 

/* definir tema claro */
:root [data-theme='light' ]{

    --primary-color: #0b0b0f;  
    --primary-bg-color: #e9e9e9;
    --secundary-bg-color:#c7c8c9;
    --primary-border-color: #c7c8c9; 
    --secundary-border-color: #9a9a9c;

       
    --title-color: #0b0b0f;
    --text-color:#28292e;
    --link-color:#28292e;
    --icon-color: #56575a;
    
}

html[data-theme='light'] .brand-logo {
    filter: invert(1);
}

/* Reset css
    padronizar navegadores
*/
*{
    margin: 0; /* margem */
    padding: 0; /* espaçamento */
    vertical-align: baseline; /* linha vertical */
    list-style: none; /* estilo das listas */
    scrollbar-width: thin; /* barra de rolagem */
    scrollbar-color: var(--secundary-bg-color) transparent;
}

body{
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif ;
    color: var(--text-color)
}
